.d-shop-product-footer-container {
    width: 100%;
    min-height: 10rem;
    border-block-start: 2px solid var(--gray-03);
    margin-block-start: 2rem;
    display: flex;
    padding-block-start: 2rem;
    gap: 5rem;
}