.d-s-options-container {
    width: 100%;
    opacity: 1;
    transition: .2s ease-in-out;
    &.cat-open {
        opacity: 0;
    }
    &.no-filters {
        margin-block-start: 2rem;
        > p {
            color: var(--gray-04);
            font-weight: 500;
            user-select: none;
            > span {
                text-transform: capitalize;
                text-decoration: underline;
            }
        }
    }
}