.d-s-prod-footer-container {
    width: 100%;
    border-block-start: 2px solid var(--gray-02);
    margin-block-start: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-block-start: 2rem;
    gap: 4rem;
}