.value-chack-box {
    width: 2rem;
    height: 2rem;
    background: var(--gray-06);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.lock-active {
        background: var(--gray-03);
        &:before {
            background: var(--gray-02);
        }        
    }
    &:before {
        content: "";
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        position: absolute;
        background: var(--transparent);
        transition: .1s ease-in-out;
    }
    &.active {
        &:before {
            background: var(--gray-02);
        }
    }
}