.d-p-footer-container {
    width: 100%;
    border-block-start: 2px solid var(--gray-03);
    margin-block-start: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-block-start: 2rem;
    gap: 4rem;
    // animation: fade-in 2s;
}