.m-p-releted-slide-container {
    // height: 100%;
    display: flex;
    flex-direction: column;
    .m-p-releted-slide-img-container {
        width: 100%;
        aspect-ratio: 3 / 4;
        border-radius: 1rem;
        overflow: hidden;
        background: var(--gray-01);
        border: 2px solid var(--gray-04);
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .m-p-releted-slide-bottom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block-start: .5rem;
        padding-inline: .5rem;
        > p {
            text-align: center;
            // font-size: 1.4rem;
            font-size: calc(1.4rem * var(--global-text-size, 1));
        }
    }
}