body[dir="rtl"] {
    &.mobile {
        .mobile-footer-bottom-container {
            > p {
                > span.material-symbols-outlined {
                    margin-inline: 0 1rem;
                }
                &:nth-child(3) {
                    direction: ltr;
                }
            }
        }
    }
}

body.mobile {
    .mobile-footer-bottom-container {
        > p {
            font-size: 1.3rem;
        }
    }    
}

.mobile-footer-bottom-container {
    width: 100%;
    margin-block-start: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
        text-align: center;
        display: flex;
        align-items: center;
        margin-block-end: 2rem;
        font-size: 1.3rem;
        color: var(--gray-05);
        > span.material-symbols-outlined {
            margin-inline: 1rem 0;
            font-size: 2rem;
        }
    }
}