.d-shop-display-container {
    max-width: calc(100vw - 400px);
    padding-block-start: 15rem;
    padding-block-end: 5rem;
    padding-inline-start: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}