body.mobile {
    .c-item-img-container {
        width: 5rem;
        min-width: 5rem;
    }
}

.c-item-img-container {
    width: 8rem;
    min-width: 8rem;
    aspect-ratio: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        max-height: calc(100px - 2rem);
        max-width: 100%;
        object-fit: contain;
    }
}