@import "../../../mixing.scss";

.faq-contact-container {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    > a {
        text-decoration: none;
        color: var(--gray-04);
        text-align: center;
        display: flex;
        align-items: center;
        transition: .1s ease-in-out;
        > span {
            text-decoration: underline;
            margin-inline-end: .5rem;
        }
        @include desktopHover() {
            color: var(--gray-05);
        }
    }
}