@import "../../../mixing";

a.go-to-mission-section-button-container {
    display: block;
    text-decoration: none;
    position: absolute;
    inset-block-end: 10rem;
    cursor: pointer;
    > span {
        font-size: 4rem;
        color: var(--gray-02);
        transition: .1s ease-in-out;
    }
    @include desktopHover() {
        > span {
            color: var(--gray-04);
        }
    }
    &:active {
        > span {
            color: var(--gray-02);
        }
    }
}