.d-shop-container {
    padding-block-start: 5rem;
    padding-block-end: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .d-shop-inner-container.one {
        width: 250px;
        min-width: 250px;
        margin-inline-end: 2rem;
    }
    .d-shop-inner-container.two {
        width: 100%;
    }
  }
  