@import "../../../mixing.scss";

body.mobile {
    .d-s-prod-prev-container {
        // max-width: 250px;
        // width: 50%;
    }

}

.d-s-prod-prev-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    cursor: pointer;
    transition: .1s ease-in-out;
    @include desktopHover() {
        opacity: .5;        
    }
    &:active {
        opacity: .5;
    }
    .d-s-prod-prev-inner-container {
        width: 100%;
        padding-block: 1rem;
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        border-block-start: 2px solid var(--gray-02);
        background: var(--transparent);
    }
}