.error-heder-container {
    position: relative;
    inset-inline: 0;
    inset-block-start: 0;
    height: 4rem;
    padding: 10px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}