@import "../../../mixing.scss";

body.mobile {
    .c-sum-checkout-button-container {
        margin-block: 4rem 2rem;
    }    
}

.c-sum-checkout-button-container {
    width: 100%;
    height: 6rem;
    background: var(--gray-08);
    margin-block-start: auto;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out;
    user-select: none;
    cursor: pointer;
    &.lock {
        background: var(--gray-03);
        pointer-events: none;
    }
    > p {
        color: var(--gray-02);
        margin-inline-end: 1rem;
    }
    > span {
        color: var(--gray-02);
    }
    @include desktopHover() {
        background: var(--gray-06);
    }
    &:active {
        background: var(--gray-08);
    }
}