@import "../../../mixing.scss";

.d-s-display-container {
    .d-s-display-inner-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 2rem;
        .d-s-display-cell {
            background: var(--gray-01);
            width: 250px;
            border-radius: 3px;
            position: relative;
            overflow: clip;
            transition: .1s ease-in-out;
            position: relative;
            &.out-of-stock {
                opacity: .2;
            }
            @include desktopHover() {
                opacity: .5;
            }
            &:active {
                opacity: 1;
            }
        }
    }
}
  