.d-shop-product-page-header-container {
    width: 100%;
    padding-block-start: 5rem;
    // background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}