.ten-percent-button-containet {
    height: 70px;
    width: 70px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
}
img.ten-percent-button {
    position: relative;
    height: inherit;
    &:hover {
        cursor: pointer;
    }
}