@import "../../../../../app//mixing.scss";

.desktop-footer-top-right-container {
    margin-inline-start: auto;
    min-width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    > p {
        display: flex;
        align-items: center;
        color: var(--gray-05);
        span.material-symbols-outlined {
            margin-inline-start: 1rem;
            font-size: 2rem;
            transition: transform .4s ease-in-out;
        }
        @include desktopHover() {
            span.material-symbols-outlined {
                animation: heartbeat 1s infinite;
            }
        }
    }
}