.c-sum-container {
    height: 100%;
    width: 300px;
    max-width: 300px;
    background: var(--gray-01);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 3px;
}