@import "../../../../app/mixing";

nav.desktop {
    ul {
        display: flex;
        gap: calc(1rem + 4vw);
        list-style: none;
        li {
            display: flex;
            align-items: center;
            position: relative;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 1.8rem;
                color: var(--gray-04);
                transition: .2s ease-in-out;
                line-height: 1;
                position: relative;
                @include desktopHover() {
                    color: var(--gray-02);
                    span {
                        color: var(--gray-02);
                    }
                    p.quantity {
                        color: var(--gray-02);
                    }
                }
                p.quantity {
                    font-size: 1.8rem;
                    color: var(--gray-04);
                    transition: .2s ease-in-out;
                    line-height: 1;
                    position: absolute;
                    inset-inline-start: 100%;
                }
                > span {
                    margin-inline-end: 1rem;
                    color: var(--gray-04);
                    line-height: 1;
                    transition: .2s ease-in-out;
                }
            }
            &.active {
                a {
                    color: var(--gray-02);
                    > span {
                        color: var(--gray-02);
                    }
                    > p.quantity {
                        color: var(--gray-02);
                    }
                }
            }
        }
    }
}