body.mobile {
    .cart {
        padding-inline: 5%;
        .inner-cart-container {
            flex-direction: column-reverse;
            gap: 4rem;
            padding-block: 4rem;
            height: auto;
        }
    }
}



.cart {
    background: var(--gray-02);
    padding-inline: 5rem;
    .inner-cart-container {
        width: 100%;
        height: calc(100vh - 10rem);
        display: flex;
        gap: 5rem;
        padding-block: 5rem;
    }
}