.d-shop-menu-container {
    width: 300px;
    height: 100vh;
    position: sticky;
    inset-block-start: 0;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        inset-block: 0;
        inset-inline-end: 0;
        inset-inline-start: -100vw;
        background: var(--gray-08);
        z-index: -1;
    }
    .inner-d-shop-menu-container {
        width: 100%;
        height: 100%;
        padding-block-start: 20rem;
        padding-inline-end: 5vw;
    }
}