.d-shop-product-page-container {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    
    // background: red;
    padding-block-start: 10rem;
}