@import "../../../../mixing.scss";

.c-d-item-container {
    width: 100%;
    padding-inline: 1rem 2rem;
    position: relative;
    .c-d-item-inner-container {
        min-height: 100%;
        width: 100%;
        border-block-end: 1px solid var(--gray-02);
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        padding-block: 1rem;
        .c-d-item-part-one {
            display: flex;
            align-items: center;
            // flex-wrap: wrap;
            height: fit-content;
            gap: 1rem;
            cursor: pointer;
            @include desktopHover() {
                p {
                    color: var(--gray-04);
                }
            }
            &:active {
                p {
                    color: var(--gray-06);
                }
            }
        }
        .c-d-item-part-two {
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            align-items: center;
            margin-inline-start: auto;
            gap: 1rem;
            .c-d-item-inner-part-two {
                display: flex;
            }
        }
    }
}