body.mobile {
    .e-form-t-input-container {
        margin-block-end: 2rem;
        textarea {
            min-height: 50vh;
            // min-height: auto;
            // min-height: unset;
            resize: vertical; /* Allow only vertical resizing */
            overflow-y: hidden; /* Prevent scrollbar appearance */
        }
    }
}

.e-form-t-input-container {
    min-height: 100%;
    width: 100%;
    position: relative;
    textarea {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: auto;
        min-height: 100%;
        font-size: 1.6rem;
        border: none;
        padding: 1rem;
        background: var(--gray-01);
        border-radius: 3px;
        resize: none;
        outline: 2px solid transparent;
        transition: .2s ease-in-out;
        opacity: 1;
        &.dir-rtl {
            direction: rtl;
        }
        &.dir-ltr {
            direction: ltr;
        }
        &.loading {
            opacity: .5;
            user-select: none;
        }
        &:focus {
            outline-color: transparent;
        }
        &::placeholder {
            transition: .2s ease-in-out;
            color: var(--gray-04);
        }
        &.error {
            outline-color: var(--gray-04);
            &::placeholder {
                color: var(--blue-01);
            }
        }
    }
}