.p-out-container {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-03);
    height: 6rem;
    > p {
        color: var(--gray-04);
    }
}