@import '_mixing';
@import '_variables';
@import '_typography';
@import '_keyframes';

* {
    // user-select: none;
    box-sizing: border-box;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-block-start: 10rem;
    min-height: 100vh;
    width: 100%;
    animation: fadeIn .2s ease-in;
    transition: .2s ease-in-out;
}

body.mobile {
    .page {
        padding-block-start: 5rem;
    } 
}