@import 'mixing';
@import 'variables';
@import 'typography';
@import 'keyframes';

* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    animation: fadeIn .2s ease-in;
}