.d-s-prod-variant-container {
    width: 100%;
    margin-block-start: 2rem;
    > p {
        font-size: 1.6rem;
        color: var(--gray-06);
        margin-block-end: .5rem;
        transition: .2s ease-in-out;
        position: relative;
        z-index: 2;
        &:first-child {
            text-decoration: underline;
        }
    }
    &.highlight {
        > p:last-child {
            color: var(--blue-01);
        }
    }
}