.d-prod-data-container {
    width: 100%;
    min-height: calc(100vh - 30rem);
    min-width: 450px;
    display: flex;
    flex-direction: column;
    .d-prod-data-inner-container {
        display: flex;
        gap: 5rem;
        margin-block-end: auto;
        height: 100%;
        .d-prod-info-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: calc(100% - 200px);
        }
        .d-prod-sum-container {
            width: 200px;
            height: 100%;
        }
    }
}