@keyframes slideIn {
    from {
      inset-inline-end: -300px;
      opacity: 0;
    }
    to {
      inset-inline-end: 0;
      opacity: 1;
    }
  }
  
@keyframes slideOut {
from {
    inset-inline-end: 0;
    opacity: 1;
}
to {
    inset-inline-end: -300px;
    opacity: 0;
}
}

body[dir="rtl"] {
    .accessibility-menu-container {
        border-radius: 0 3px 3px 0;
    }    
}

.accessibility-menu-container {
    width: 300px;
    background: var(--gray-02);
    position: absolute;
    inset-block: 0;
    inset-inline-end: -300px;
    transition: .2s ease-in-out;
    display: none;
    flex-direction: column;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
    padding-inline: 1rem;
    border-block: 2px solid;
    border-inline-start: 2px solid ;
    border-color: var(--gray-03);
    &.open {
        display: flex;
        animation: slideIn 0.2s ease-in-out forwards;
      }
    &.close {
        display: flex;
        animation: slideOut 0.1s ease-in-out forwards;
    }
}