@import "../../../../../mixing.scss";

a.d-s-prod-go-to-cart-container {
    width: 100%;
    height: 4rem;
    background: var(--transparent);
    border-radius: 3px;
    margin-block-start: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    transition: .2s ease-in-out;
    cursor: pointer;
    font-weight: 500;
    pointer-events: none;
    user-select: none;
    &.active {
        pointer-events: initial;
        background: var(--gray-08);
        transition: .1s ease-in-out;
        > p {
            color: var(--gray-02);
        }
        @include desktopHover() {
            background: var(--gray-06);
        }
        &:active {
            color: var(--gray-06);
        }
    }
    > p {
        color: var(--transparent);
        // color: red;
        margin-inline-start: .5rem;
        transition: .2s ease-in-out;
        display: flex;
        // color: var(--gray-04);
        align-items: center;
    }
}