.d-prod-gallery-container {
    width: 100%;
    max-width: 500px;
    max-height: calc(100vh - 30rem);
    position: sticky;
    inset-block-start: 10rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}