@import "../../../mixing.scss";

body.mobile {
    .c-item-quantity-container {
        .c-item-quantity-inner-container {
            button.quantity-button {
                width: 2rem;
                height: 2rem;
                
                span {
                    // font-size: 1rem;
                    font-size: calc(1rem * var(--global-text-size, 1));
                }
            }
            .quantity-total {
                height: fit-content;
                min-width: 4rem;
                > p {
                    // font-size: 1.6rem;
                    font-size: calc(1.6rem * var(--global-text-size, 1));
                    font-weight: 500;
                }
            }
        }
    }
}

.c-item-quantity-container {
    min-height: 100%;
    display: flex;
    align-items: center;
    .c-item-quantity-inner-container {
        display: flex;
        align-items: center;
        button.quantity-button {
            border: none;
            // width: 2.4rem;
            width: calc(2.4rem * var(--global-text-size, 1));
            // height: 2.4rem;
            height: calc(2.4rem * var(--global-text-size, 1));
            background: var(--gray-06);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 50%;
            transition: .1s ease-in-out;
            @include desktopHover() {
                background: var(--gray-05);
            }
            &:active {
                background: var(--gray-06);
            }
            span {
                // font-size: 1.4rem;
                font-size: calc(1.4rem * var(--global-text-size, 1));
                color: var(--gray-02);
                user-select: none;
            }
        }
        .quantity-total {
            height: 3rem;
            min-width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            > p {
                // font-size: 1.6rem;
                font-size: calc(1.6rem * var(--global-text-size, 1));
                font-weight: 500;
                color: var(--gray-06);
            }
        }
    }
}