.c-list-items-container {
    width: 100%;
    height: 100%;
    padding-block: 5rem;
    position: relative;
    .c-list-items-inner-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }
}