body.mobile {
    .e-form-email-container {
        input.email {
            padding: 1rem 1.5rem;
            font-size: 1.8rem;
            height: 5rem;
            // margin-block-start: 2rem;
        }
    }        
}

.e-form-email-container {
    width: 100%;
    input.email {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        margin-block-start: 0;
        margin-inline-end: auto;
        font-size: 1.6rem;
        border: none;
        padding: 1rem;
        color: var(--gray-06);
        background: var(--transparent);
        transition: .2s ease-in-out;
        opacity: 1;
        border-block-end: 1px solid var(--gray-04);
        &:focus {
            outline: none;
        }
        &::placeholder {
            transition: .2s ease-in-out;
            color: var(--gray-04);
        }
        &.error {
            border-block-end-color: var(--gray-06);
            &::placeholder {
                color: var(--blue-01);
            }
        }
    }
}