.c-sum-discount-container {
    width: 100%;
    margin-block: 2rem auto;
    > p {
        font-size: 1.6rem;
        color: var(--gray-06);
        margin-block-end: .5rem;
        &:first-child {
            text-decoration: underline;
        }
    }
}