.d-s-prod-prev-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    // &.out-of-stock {
    //     pointer-events: none;
    // }
}