body.mobile {
    .contact-message-container {
        height: unset;
        min-height: unset;
        textarea.message {
            resize: vertical;
            overflow-y: hidden;
            min-height: calc(100vh - 39rem);
        }        
    }
}

.contact-message-container {
    width: 100%;
    position: relative;
    height: calc(100vh - 42rem);
    textarea.message {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: auto;
        min-height: calc(100vh - 42rem);
        font-size: 1.6rem;
        border: none;
        padding: 1rem;
        background-color: var(--gray-01);
        border-radius: 3px;
        resize: none;
        outline: 2px solid transparent;
        transition: .2s ease-in-out;
        opacity: 1;
        &:focus {
            outline-color: transparent;
        }
        &::placeholder {
            transition: .2s ease-in-out;
            color: var(--gray-04);
        }
        &.error {
            outline-color: var(--gray-04);
            &::placeholder {
                color: var(--blue-01);
            }
        }
    }
}