body.mobile {
    .c-item-price-container {
        min-width: unset;
        justify-content: flex-start;
        > p {
            font-weight: 400;
            font-size: 1.4rem;
        }
    }    
}

.c-item-price-container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 100px;
    > p {
        color: var(--gray-06);
        font-weight: 500;
    }
}