@import "../../../mixing.scss";

body.mobile {
    .contact-submit-container {
        input.submit {
            // width: 12rem;
            margin-block: 4rem 0;
        }
    }
}        

.contact-submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
    input.submit {
        font-family: 'Poppins', sans-serif;
        border: none;
        height: 5rem;
        margin-block: 5rem;
        width: 10rem;
        border-radius: 3px;
        font-size: 1.6rem;
        width: 200px;
        border: none;
        padding: 1rem;
        background: var(--gray-08);
        color: var(--gray-02);
        border-radius: 3px;
        transition: .2s ease-in-out;
        opacity: 1;
        &.loading {
            opacity: .5;
            user-select: none;
            @include desktopHover() {
                // transform: translateY(0);
                background: var(--gray-08);
            }
        }
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:active {
            background: var(--gray-07);
        }
        @include desktopHover() {
            // transform: translateY(-.5rem);
            background: var(--gray-06);
            &:active {
                background: var(--gray-08);
                transition: .1s ease-out;
                transform: translateY(0);
            }
        }
    }
}