@import "../../../mixing.scss";

.p-share-container {
    position: relative;
    padding-block: 1rem;
    margin-block-start: 1rem;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-inline-start: auto;
    cursor: default;
    > span {
        color: var(--gray-06);
        transition: .1s ease-in-out;
    }
    .p-share-inner-container {
        width: fit-content;
        max-width: 0;
        position: absolute;
        inset-block: 0;
        inset-inline-end: 100%;
        transition: .2s ease-in-out;
        display: flex;
        align-items: center;
        overflow: clip;
        gap: 0.5rem;
        border-radius: 3px 0 0 3px;
    }
    @include desktopHover() {
        .p-share-inner-container {
            max-width: 100px;
        }   
        > span {
            color: var(--gray-04);
        }
    }
    &.open {
        .p-share-inner-container {
            max-width: 100px;
        }   
        > span {
            color: var(--gray-04);
        }
    }
}