.accessibility-container {
    position: fixed;
    inset-inline-end: 0;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
        inset: 0;
        animation: fadeIn .2s ease-in;
    }
}