.accessibility-container {
  position: fixed;
  z-index: 1001;
  inset-block: 0;
  inset-inline-end: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  // padding-block-end: 10rem;
  &.active {
    inset-inline: 0;
  }
}