
.c-m-list-items-container {
    width: 100%;
    height: 100%;
    position: relative;
    // background: red;
    .c-m-list-items-inner-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }
}