@import "../../../../../../mixing.scss";

.d-s-prod-add-to-cart-container {
    min-width: 200px;
    height: 6rem;
    border-radius: 3px;
    overflow: clip;
    position: relative;
    cursor: pointer;
    user-select: none;
    > .success {
        display: none;
        position: absolute;
        inset: 0;
        transition: .1s ease-in-out;
        &.active {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--gray-02);
            z-index: 1;
        }
        > span {
            font-size: 4rem;
            color: var(--gray-06);
        }
    }
    > .add {
        display: none;
        position: absolute;
        inset: 0;
        transition: .1s ease-in-out;
        &.active {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--gray-08);
            > p {
                color: var(--gray-02);
                display: flex;
                align-items: center;
                > span {
                    margin-inline-start: 1rem;
                } 
            }
            @include desktopHover() {
                background: var(--gray-06);;
            }
            &:active {
                background: var(--gray-08);
            }
        }
    }
    > .loading {
        display: none;
        position: absolute;
        inset: 0;
        &.active {
            position: absolute;
            z-index: 1;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--gray-02); 
            &:before {
              content: "";
              border: 5px solid var(--gray-03);
              border-top: 5px solid var(--gray-06);
              border-radius: 50%;
              width: 30px;
              height: 30px;
              animation: spin 1s linear infinite;
            }
        }  
    }
}

@keyframes star-pop {
    0%, 100% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}