.loading-container {
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
        content: "";
        border: 10px solid var(--gray-07);
        border-top: 10px solid var(--gray-06);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 1s linear infinite;
    }
}