@import "../../../../mixing.scss";

.close-error-message-button-container {
    // width: 3rem;
    height: 100%;
    aspect-ratio: 1 / 1;
    background: var(--gray-04);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out;
    @include desktopHover() {
        background: var(--gray-08);
    }
    > span.material-symbols-outlined {
        font-size: 3rem;
        color: var(--gray-02);
        font-weight: 600;
    }
    &:active {
        background: var(--gray-08);
    }
}