@import "../../../../../mixing.scss";

.d-s-p-pre-order-container {
    display: flex;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
    // border: 2px solid var(--gray-03);
    padding: 1rem;
    > span {
        // font-size: 2.rem;
        color: var(--gray-03);
        transition: .1s ease-in-out;
        background: var(--gray-01);
        height: fit-content;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }
    @include desktopHover() {
        > span {
            color: var(--gray-06);
            // transition: .4s ease-in-out;
            // transform: scale(1.2);
        }
    }
    &:active {
        > span {
            color: var(--gray-03);
            //     transform: scale(.2);
        }
    }
}