@import "../../../../../mixing.scss";

body[dir="rtl"] {
    p.d-p-back {
        > span {
            margin-inline-end: unset;
            margin-inline-start: 1rem;
            transform: scaleX(-1);
        }
    }
}

p.d-p-back {
    width: fit-content;
    display: flex;
    align-items: center;
    color: var(--gray-06);
    font-weight: 500;
    transition: .1s ease-in-out;
    cursor: pointer;
    > span {
        margin-inline-end: 1rem;
    }
    @include desktopHover() {
        color: var(--gray-08);
    }
    &:active {
        color: var(--gray-06);
    }
}