a.m-faq-drop-cat-container {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    background: var(--gray-01);
    border-block-start: 1px solid var(--gray-03);
    text-decoration: none;
    &.selected {
        background: var(--gray-08);
        > p {
            color: var(--gray-02);
        }        
    }
    > p {
        text-transform: capitalize;
    }
}