button.a-m-header-reset-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 0;
    width: 50%;
    background: var(--gray-08);
    border-radius: 3px;
    padding: 10px;
    gap: 5px;
    > span {
        font-size: 24px;
        color: var(--gray-02);
    }
    > p {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--gray-02);
    }
}