@import "../../../../../mixing.scss";

.d-s-cat-item-container {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
    background: var(--gray-02);
    border-radius: 3px;
    transition: .2s ease-in-out;
    position: relative;
    @include desktopHover() {
        background: var(--gray-08);
        > p {
            color: var(--gray-02);
        }
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border: 2px solid var(--transparent);
        border-radius: 5px;
        transition: .2s ease-in-out;
    }
    &.selected {
        background: var(--gray-08);
        &::before {
            inset: -3px;
            border-color: var(--gray-05);
        }
        > p {
            color: var(--gray-02);
        }
    }
    > p {
        color: var(--gray-05);
        text-transform: capitalize;
        font-weight: 400;
        transition: .1s ease-in-out;
        font-size: 1.8rem;
        user-select: none;
    }
}