@import "../../../../mixing.scss";

.d-p-related-p-slider-container {
    margin-block-start: 2rem;
    .slick-list {
        margin-inline: 5%;
    }
    .slick-slide {
        padding-inline: 1rem; // Adjust the padding to control the visual "gap"
    }
    .slick-next {
        inset-inline-end: 0;
    }
    .slick-prev {
        inset-inline-start: 0;
    }
    
    .slick-next,
    .slick-prev {
        z-index: 1;
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--gray-06);
        border-radius: 50%;
        transition: .1s ease-in-out;
        &::before {
            content: "";
        }
        > span {
            color: var(--gray-02);
            font-size: 2rem;
        }
        @include desktopHover() {
            background: var(--gray-04);
        }
        &:active {
            background: var(--gray-06);
        }
    }

    .d-p-placeholder-slide {
        width: 100%;
        aspect-ratio: 3 / 4;
        border-radius: 1rem;
        overflow: clip;
        background: var(--gray-01);
        border: 2px solid var(--gray-03);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .5;
    }
}