.d-shop-product-prev-title-container {
    width: 100%;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &.out-of-stock {
        > p {
            color: var(--gray-03);
        }
    }
    &.hover-prev {
        > p {
            color: var(--gray-08);
        }
    }
    > p {
        transition: .2s ease-in-out;
        color: var(--gray-03);
        font-weight: 500;
    }
}