body.mobile {
    .contact-form-container {
        form.contact-form {
            min-height: calc(100vh - 37rem);
        }
    }        
}
.contact-form-container {
    width: 100%;
    padding-inline: 5%;
    display: flex;
    justify-content: center;
    form.contact-form {
        width: 100%;
        max-width: 80rem;
        min-height: calc(100vh - 20rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}