.d-s-prod-shipping-container {
    width: 100%;
    margin-block-start: 2rem;
    > p {
        font-size: 1.6rem;
        color: var(--gray-06);
        margin-block-end: .5rem;
        &:first-child {
            text-decoration: underline;
        }
    }
}