.m-p-img-container {
    margin-inline: auto;
    max-height: 50vh;
    aspect-ratio: 3 / 4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-01);
    > img {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}